v1/
*.bin
render
lights
compile
openvdb
self_output
output
paper
scenes
output.mp4
paper.slurm
/scenes
/compile
/self_output
/output
/paper
/lights
/render
render2
render_kdtree
kdtree.slurm
final_demo_new/
/openvdb
/openvdb_build
/openvdb_install
/openvdb_source
/openvdb_source_build
/openvdb_source_install

